{% extends "base.html" %}

{% block head_css %}
  {{ super() }}
  <style>
    .block-svg-badge {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .block-svg-badge button {
      font-size: 10px;
      padding: 2px 5px;
      height: 20px;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="col-sm-9">
    <h2>Flag editing</h2>
    <br><br>

    {% if updated %}
      <div class="well well-sm success">Updated</div>
    {% endif %}

    {% if errors %}
      <div class="well well-sm error">{{ errors }}</div>
    {% endif %}


    {% if object %}
      <label>Name: </label> {{ object.name }}
      <br>
      <label>Created at: </label>
      {% if object.created_at %}
        {{ object.created_at.strftime('%d-%m-%Y %H:%M:%S') }}
      {% else %}
        -
      {% endif %}
      <br>
      <label>Updated at: </label>
      {% if object.updated_at %}
        {{ object.updated_at.strftime('%d-%m-%Y %H:%M:%S') }}
      {% else %}
        -
      {% endif %}
      {% if object.deleted_at %}
        <br>
        <label>Deleted at: </label>
        {% if object.deleted_at %}
          {{ object.deleted_at.strftime('%d-%m-%Y %H:%M:%S') }}
        {% else %}
          -
        {% endif %}
      {% endif %}

      <br>
      <label>SVG badge:
        <span id="svg-badge-tooltip" class="glyphicon glyphicon-question-sign"
              title="Copy as Markdown badge with link to this page"></span>
      </label>
      <br>

      <div class="block-svg-badge">
        {{ svg_badge | safe }}

        <button id="copy-md-badge-btn" type="button" class="btn btn-primary">
          <span id="copy-md-badge-span" class="glyphicon glyphicon-copy"></span>
        </button>
      </div>

      <input id="md-badge" type="hidden" value="{{ markdown_badge | safe }}">

      <form action="/zbs/switches/{{ object.id }}" method="post">
        <br>
        <div class="form-group">
          <!-- Грязный хак. Нужно для переключения активности флага https://stackoverflow.com/questions/1809494/post-unchecked-html-checkboxes -->
          <label>Active: </label>
          <input type="checkbox" name="is_active" value="1" {% if object.is_active %} checked="checked" {% endif %} {% if object.deleted_at %} disabled {% endif %}>
          <input name="is_active" value="0" type="hidden">
        </div>
        <br>
        <div class="form-group">
          <label>Groups:</label>
          <input type="text" class="form-control" value="{{ object.groups|join(', ') }}" name="groups" {% if object.deleted_at %} disabled {% endif %}>
        </div>
        <br>
        <div class="form-group">
          <label>Version:</label>
          <input type="text" class="form-control" value="{{ object.version }}" name="version" {% if object.deleted_at %} disabled {% endif %}>
        </div>
        <br>
        <div class="form-group">
          <label>TTL (days):</label>
          <input type="text" class="form-control" value="{{ object.ttl }}" name="ttl" {% if object.deleted_at %} disabled {% endif %}>
        </div>
        <br>
        <div class="form-group">
          <label>Comment:</label>
          <textarea class="form-control" rows="5" name="comment" {% if object.deleted_at %} disabled {% endif %}>{{ object.comment }}</textarea>
        </div>
        {% if not object.deleted_at %}
        <input type="submit" class="btn btn-default" value="Save">
        <a class="btn btn-danger float-right" href="/zbs/switches/{{ object.id }}/delete"
           onclick="return confirm('Are you sure?')">Delete</a>
        {% endif %}
      </form>

      <br>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                 aria-expanded="false" aria-controls="collapseTwo">
                History
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">

              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Changed at</th>
                  <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for switch in switch_history %}
                  <tr>
                    <td>
                      {{ switch.changed_at.strftime('%d-%m-%Y %H:%M:%S') }}
                    </td>
                    <td>
                      {% if switch.new_value == '1' %}
                        <span class="glyphicon glyphicon-ok green"></span>
                      {% else %}
                        <span class="glyphicon glyphicon-remove red"></span>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    {% endif %}
  </div>

{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script>
    $(document).ready(function () {
      $('#svg-badge-tooltip').tooltip();

      $('#copy-md-badge-btn').click(function () {
        // only if browser supports Clipboard API

        if (navigator.clipboard) {
          navigator.clipboard.writeText($('#md-badge').val());

          let copyButtonSpan = $('#copy-md-badge-span');
          copyButtonSpan.removeClass('glyphicon-copy');
          copyButtonSpan.addClass('glyphicon-ok');

          setTimeout(
            () => {
              copyButtonSpan.addClass('glyphicon-copy');
              copyButtonSpan.removeClass('glyphicon-ok');
            }, 1500
          );
        }
      });


    });
  </script>
{% endblock %}
