{% extends "base.html" %}

{% block content %}

<div class="col-sm-3">
  <h2>Switches list</h2>
</div>
<div class="col-sm-6 mt-10px">
  <a class="btn btn-primary float-right mx-5px mr-0" href="{{ url('switches_add') }}">Add</a>
  {% if show_copy_button %}
  <form action="{{ url('switches_copy') }}" method="POST" >
    <input class="btn btn-success float-right mx-5px" type="submit" value="Copy from main (no rewrite)">
  </form>
  <form action="{{ url('switches_copy') }}?update_existing=true" method="POST" >
    <input class="btn btn-info float-right mx-5px" type="submit" value="Copy from main (rewrite)">
  </form>
  {% endif %}
</div>

<div class="col-sm-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Switch name</th>
        <th>Is active</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
    </thead>
    <tbody>
      {% for flag in flags %}
        <tr>
          <td><a href="/zbs/switches/{{ flag.id }}">{{ flag.name }}</a></td>
          <td>
            {% if flag.is_active %}
              <span class="glyphicon glyphicon-ok green"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove red"></span>
            {% endif %}
          </td>
          <td>
            {% if flag.created_at %}
              {{ flag.created_at.strftime('%d-%m-%Y %H:%M:%S') }}
            {% else %}
              -
            {% endif %}
          </td>
           <td>
            {% if flag.updated_at %}
              {{ flag.updated_at.strftime('%d-%m-%Y %H:%M:%S') }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
