{% extends "base.html" %}

{% block content %}

<div class="col-sm-6">
  <h2>Switches list</h2>
</div>
<div class="col-sm-3 mt-10px">
  <a class="btn btn-primary float-right" href="{{ url('switches_add') }}">Add</a>
</div>

<div class="col-sm-9">
  <br><br>
  {% for flag in flags %}
    <div class="col-sm-3">
      <a href="/zbs/switches/{{ flag.id }}">{{ flag.name }}</a>
    </div>
    <div class="col-sm-9">
      {% if flag.is_active %}
        <span class="glyphicon glyphicon-ok green"></span>
        Enabled
      {% else %}
        <span class="glyphicon glyphicon-remove red"></span>
        Disabled
      {% endif %}
    </div>
    <br><br>
  {% endfor %}
</div>

{% endblock %}
